/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

        
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
.navbar-classic .nav-link { font-size: 14px; padding: 7px !important;}
.hero{ min-height: 100%; padding: 100px 0 30px 0px;}
.hero-bg {  inset: -56px 0;  background-size: contain;background-position-y: 0px;}
.pill   {   gap: .3rem; font-size: 12px;    padding: 5px 10px;}
.hero-title {font-size: clamp(2rem, 3vw, 3rem);}
.ai-steps li{gap:0px; padding: 5px 10px; font-size: 14px; }
.ai-steps{ margin: 5px;}
.hero-sub {font-size: 1rem;}
.section-tag{padding: 3px 18px;}












}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


 }